.noto-sans-warang-citi-regular {
    font-family: "Noto Sans Warang Citi", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
      .aoboshi-one-regular {
    font-family: "Aoboshi One", serif;
    font-weight: 400;
    font-style: normal;
      }
  
  
          *{
              box-sizing: border-box;
              margin: 0;
              padding: 0;
  
              
  
          }
  
          body{
          
             background-image: url(https://31.media.tumblr.com/tumblr_m1u35vcQGx1r4dgyeo1_500.gif)
          }
              
          
          #logo{
  
              margin:12px;
              float: right;
              height: 200px;
              width: 200px;
              border-radius: 30px;
             
          
             
          }
  
  
          .par{
          margin: 0 auto;
          font-family: "Noto Sans Warang Citi", sans-serif;
          text-align: justify;
          color: whitesmoke;
          margin: 10px;
          }
  
          .Titulo{
              text-align: center;
              font-family: "Aoboshi One", serif;
         
  
          color: white;
          }
          .contenedor1{
              
              background-color: rgb(14, 25, 26);
              margin: 0 auto;
              height: 2700px;
              width: 1000px;
              border-color: yellow ;
              border-style: solid;
              border-width: 2px;
              clear: both;
  
         
          }
          .contenedor2{
              float: right;
             border-color: rgb(201,38,38);
             border-style: solid;
              border-width: 2px;
              width: 230px;
              height: 1230px;
              margin:10px;
          }
          .contenedor3{
              background-color: rgb(233, 68, 68);
              margin: 0 auto;
  
              height: 50px;
              width: 230px;
          }
          .TC{
              text-align: center;
          font-family:"Noto Sans Warang Citi", sans-serif;
          font-size: 13px;
         
  
          }
  
         #tri{
          float: right;
          height: 35px;
          width: 35px;
  
         }
  
         #link{
          float: left;
          height: 200px;
          width:200px;
         }
         #link:hover{
         
         
            background-image: url(/Articulo/img/link\ super.gif);
         background-size: 50vh;
         background-repeat: no-repeat;
         background-position-x: -100px;
         background-position-y: -120px;
          
          
         }

     
         #N64{
          float: right;
          height: 125px;
          width:250px;
          margin: 10px;
         }
         
  
         #linkni{
          float: right;
          height: 200px;
          width:200px;
          margin: 10px;
         }
  
         #arboldeku{
          float: left;
          height: 200px;
          width:200px;
          margin: 10px;
         }
         #mastermeme{
          float: right;
          height: 200px;
          width:200px;
          margin: 10px;
         }
  
         #linklentes{
          float:left;
          height: 200px;
          width:200px;
          margin: 10px;
         }
  
         .contenedorT{
             
              margin: 0 auto;
              border-color: rgb(201,38,38);
             border-style: solid;
              border-width: 3px;
  
              height: 240px;
              width: 230px;
          }
  
          #C4{
  
  
              height: 70px;
              width: 230px;
              background-color:#060A0A ;
          }
  
          #C5{
              height: 30px;
              width: 230px;
  
          }
  
          p{
             font-family: "Noto Sans Warang Citi", sans-serif;
          }
         .amar{
          color: yellow;
         }
  
       
  
         #C6{
          Background-color:#060A0A;
          height: 160px;
              width: 230px;
         }
  
         #C7{
          height: 310px;
          width: 230px;
         }
  
         .bandera{
         margin:  0%auto;
         clear: both;
  
          height: 20px;
          width: 30px;
         }
  
         #C8{
          height: 30px;
          width: 230px;
          background-color: #060A0A;
         }
  
         #C9{
          height: 144px;
          width: 230px;
         }
  
         #C10{
  
           height: 122px;
          width: 230px;
          background-color: #060A0A;
         }
  
         #C11{
          height: 50px;
          width: 230px;
         }
         #C12{
          height: 50px;
          width: 230px;
          background-color: #060A0A;
         }
  
  

      